In [1]:
import numpy as np

import csv

def save_to_csv(lmbda, num_job, filename):
    # CSV 파일로 저장
    data = np.random.exponential(lmbda, num_job)
    with open(filename, mode='w', newline='') as file:
        writer = csv.writer(file)
        writer.writerow(['IAT'])
        writer.writerows([[value] for value in data])
    
save_to_csv(15/5, 100, 'IAT100.csv')

In [2]:

pt_var = np.random.uniform(low=0.8, high=1.2, size=100)
with open('PT_var.csv', mode='w', newline='') as file:
        writer = csv.writer(file)
        writer.writerow(['PT_var'])
        writer.writerows([[value] for value in pt_var])

In [ ]:
import pandas as pd
iat = pd.read_csv('IAT100.csv')
iat = iat.to_numpy()
iat

In [9]:
data = pd.read_csv('./result/2024-10-17-18-23-10.csv')
j = data[data['Part']=='Part_'+str(0)]
machine = j[j['Event']=='Started']['Machine']
machine

9     M0
43    M1
45    M2
53    M3
61    M4
72    M5
Name: Machine, dtype: object

In [2]:
import pandas as pd
data = pd.read_csv('./result/2024-10-17-18-23-10.csv')
j = data[data['Part']=='Part'+str(i)]
with open("241010_COVERT_sample100_test0_Unity_log.csv", 'w') as f:
    # column명 작성
    f.write('Job,Machine,Created,Move,Setup,Start,Finish,JobSetup,MachineSetup\n')

for i in range(10):
    j = data[data['Part']=='Part'+str(i)]
    machine = j[j['Event']=='Started']['Machine'].values[0][-1]
    created = 0
    move = j[j['Event']=='Started']['Time'].values[0]
    setup = move + 0.5
    start = move + 0.5
    finish = j[j['Event']=='Finished']['Time'].values[0]
    job_setup = j[j['Event']=='Setup']['Memo'].values[0][-1]
    machine_setup = j[j['Event']=='Move to Machine']['Memo'].values[0][-1]
    with open("241010_COVERT_sample100_test0_Unity_log.csv", 'a') as f:
        f.write('%s,%s,%.2f,%.2f,%.2f,%.2f,%.2f,%s,%s\n'% (str(i), machine, created, move, setup, start,finish,job_setup,machine_setup))

     Unnamed: 0  Time             Event    Part Process Machine
0             0     0     Part1 Created  Part_0  Source     NaN
1             1     0     Part2 Created  Part_1  Source     NaN
2             2     0     Routing Start  Part_0  Source     NaN
3             3     0     Part3 Created  Part_2  Source     NaN
4             4     0  Routing Finished  Part_0  Source     NaN
..          ...   ...               ...     ...     ...     ...
165         165   116         Completed  Part_7    Sink     NaN
166         166   129          Finished  Part_8     PMS      M7
167         167   129         Completed  Part_8    Sink     NaN
168         168   136          Finished  Part_9     PMS      M5
169         169   136         Completed  Part_9    Sink     NaN

[170 rows x 6 columns]

In [3]:
j = data[data['Part']=='Part_'+str(0)]
j

     Unnamed: 0  Time                         Event    Part Process Machine
0             0     0                 Part1 Created  Part_0  Source     NaN
2             2     0                 Routing Start  Part_0  Source     NaN
4             4     0              Routing Finished  Part_0  Source     NaN
5             5     0  Part transferred from Source  Part_0    FS_0     NaN
9             9     0                       Started  Part_0    FS_0      M0
41           41     8                      Finished  Part_0    FS_0      M0
43           43     8                       Started  Part_0    FS_1      M1
44           44    13                      Finished  Part_0    FS_1      M1
45           45    13                       Started  Part_0    FS_2      M2
49           49    22                      Finished  Part_0    FS_2      M2
53           53    22                       Started  Part_0    FS_3      M3
58           58    30                      Finished  Part_0    FS_3      M3
61           61    30                       Started  Part_0    FS_4      M4
68           68    39                      Finished  Part_0    FS_4      M4
72           72    39                       Started  Part_0     PMS      M5
108         108    63                      Finished  Part_0     PMS      M5
109         109    63                     Completed  Part_0    Sink     NaN

In [5]:
import pandas as pd

data = pd.read_csv('./ATCS_sample100_test0.csv')
j = data[data['Job']=='Job '+str(0)]
j

     Time            Event    Job      Class  Queue                     Memo
0    0.00          Created  Job 0     Source    NaN       26.210630105335863
1    0.00  Move to Routing  Job 0     Source    1.0                      NaN
8    0.00  Move to Machine  Job 0    Routing    0.0  Machine current setup 0
9    0.00      Get the Job  Job 0  Machine 0    NaN                      NaN
10   0.00            Setup  Job 0  Machine 0    NaN         Job Setup Type 4
17   6.00       Work Start  Job 0  Machine 0    NaN                      NaN
67  25.47      Work Finish  Job 0  Machine 0    NaN                      NaN
68  25.47        Completed  Job 0       Sink    NaN                        0

In [10]:
with open("241010_COVERT_sample100_test0_Unity_log.csv", 'w') as f:
    # column명 작성
    f.write('Job,Machine,Created,Move,Setup,Start,Finish,JobSetup,MachineSetup\n')

for i in range(100):
    j = data[data['Job']=='Job '+str(i)]
    machine = j[j['Event']=='Setup']['Class'].values[0][-1]
    created = j[j['Event']=='Created']['Time'].values[0]
    move = j[j['Event']=='Setup']['Time'].values[0]
    setup = move + 0.5
    start = j[j['Event']=='Work Start']['Time'].values[0]
    finish = j[j['Event']=='Work Finish']['Time'].values[0]
    job_setup = j[j['Event']=='Setup']['Memo'].values[0][-1]
    machine_setup = j[j['Event']=='Move to Machine']['Memo'].values[0][-1]
    with open("241010_COVERT_sample100_test0_Unity_log.csv", 'a') as f:
        f.write('%s,%s,%.2f,%.2f,%.2f,%.2f,%.2f,%s,%s\n'% (str(i), machine, created, move, setup, start,finish,job_setup,machine_setup))